@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.Header{
    font-family: Alata;
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
}

.HeaderGroup{
    font-size: 16px;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    align-items: center;
    justify-items: center;
}

.HeaderGroup a {
    font-size: 14px;
    opacity: 100%;
    transition: 1s;
}

